HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.yml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# 排除application.yml
!src/main/resources/application.yml
**/application.yml
src/main/resources/application.yml
application.yml!/src/main/resources/application.yml
/src/main/resources/cert/**
/src/main/resources/cert/*.pem
/src/main/resources/cert/*.cer
/src/main/resources/cert/*.p12
/src/main/java/net/totime/mail/entity/back/
